<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>UPDATE USER</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="/login" th:href="@{/login}">Login</a>-->
<!--<br/>-->
<!--<br/>-->
<!--<h1>Edit</h1>-->
<!--<form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}" method="post" th:object="${user}">-->
<!--    <input type="hidden" th:field="*{id}"/>-->

<!--    <label for="username">Username:</label>-->
<!--    <input type="text" id="username" name="username" required="required" th:value="*{username}" /><br />-->
<!--    <br />-->
<!--    <br />-->

<!--    <label for="password">Password:</label>-->
<!--    <input type="password" id="password" name="password" required="required" th:value="*{password}" /><br />-->
<!--    <br />-->
<!--    <br />-->

<!--    <label for="name">Name:</label>-->
<!--    <input type="text" id="name" name="name" required="required" th:value="*{name}" /><br />-->
<!--    <br />-->
<!--    <br />-->

<!--    <label for="surname">Surname:</label>-->
<!--    <input type="text" id="surname" name="surname" required="required" th:value="*{surname}" /><br />-->
<!--    <br />-->
<!--    <br />-->


<!--    <button type="submit">Save</button>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UPDATE USER</title>
</head>
<body>
<a href="/login" th:href="@{/login}">Login</a>
<br/>
<br/>
<h1>Edit</h1>
<form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}" method="post" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required="required" th:value="*{username}" /><br />
    <br />
    <br />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required="required" th:value="*{password}" /><br />
    <br />
    <br />

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required="required" th:value="*{name}" /><br />
    <br />
    <br />

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required="required" th:value="*{surname}" /><br />
    <br />
    <br />


    <button type="submit">Save</button>
</form>

</body>
</html>