<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
</head>
<body>

<h1>Add New User</h1>
<style>

  select {
    width: 200px;
    height: 50px;
  }
</style>

<form action="/admin/create" method="post" th:object="${newUser}">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" required="required" th:value="*{ email}" /><br />
  <br />
  <br />

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required="required" th:value="*{password}" /><br />
  <br />
  <br />

  <label for="name">First Name:</label>
  <input type="text" id="name" name="name" required="required" th:value="*{name}" /><br />
  <br />
  <br />

  <label for="surname">Last Name:</label>
  <input type="text" id="surname" name="surname" required="required" th:value="*{surname}" /><br />
  <br />
  <br />

  <label for="age">Age:</label>
  <input type="text" id="age" name="age" required="required" th:value="*{age}" /><br />
  <br />
  <br />

  <label for="roles">Roles:</label>
  <select id="roles" name="roles" multiple="multiple">
    <option th:each="role : ${allRoles}"
            th:value="${role.id}"
            th:text="${role.name}"
            th:selected="*{roles.contains(role)}">
    </option>
  </select><br/>
  <br />
  <br />
  <button type="submit">Add User</button>
</form>

</body>
</html>