<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Подключаем Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>User Panel</title>

</head>

<body>
<div class="top-bar d-flex justify-content-between">
    <div id="user-panel"></div>
    <div>
        <a href="/logout" class="btn">Logout</a>

    </div>
</div>

<!-- Основной контейнер -->
<div class="container-fluid">


    <!--Левая панель-->

    <div class="col-2" style="padding: 0; padding-top: 15px">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="nav-link active" href="/admin">Admin</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                <a class="nav-link" href='/user'>User</a>
            </li>
        </ul>
    </div>

    <!-- Правая часть с таблицей -->

    <div class="main-content">
        <h1 class="mb-4">User information-page</h1>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="users" role="tabpanel">

                <h3>About user</h3>
                <table id="user-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody id="user-data">
                    <!-- Данные о пользователе будут вставляться сюда через JavaScript -->
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/user.js"></script>

</body>
</html>


